<!DOCTYPE html>
<html>
<head>
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/holder.min.js"></script>
</head>
<body>
	<div id="background"></div>
	<div id="content">
		<div id="header">
			<div class="panel-menu">
				<div class="container">
					<ul class="list-unstyled main-menu">
						<li><a href="#">Главная</a></li>
						<li><a href="#">Онлайн курсы</a></li>
						<li><span class="active">Блог</span></li>
						<li><a href="#">Отзывы</a></li>
						<li><a href="#">Контакты</a></li>
						<li><a href="#">О школе</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="page">
			<div class="page-content">
				<div class="container">
					<div class="blog-tags">
						<a href="/" class="badge badge-secondary">Все посты</a>
						<a href="#" class="badge badge-primary">World</a>
						<a href="#" class="badge badge-primary">Animation</a>
					</div>
					<div class="row blog-list">
						<div class="col-12">
							<div class="card flex-md-row mb-4">
								<img class="card-img d-none d-lg-block" src="img/blog-img.svg" alt="Card image cap">
								<div class="card-body d-flex flex-column align-items-start">
									<div class="tags">
										<span class="badge badge-primary">World</span><span class="badge badge-primary">Animation</span>
									</div>
									<h3 class="mb-0">
										<a class="text-dark" href="item.html">Featured post</a>
									</h3>
									<div class="mb-1 text-muted">12 Ноября 2018</div>
									<p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content.</p>
									<a href="item.html" class="btn btn-primary">Continue reading</a>
								</div>
							</div>
							<div class="card flex-md-row mb-4">
								<img class="card-img-left d-none d-lg-block" src="img/blog-img.svg" alt="Card image cap">
								<div class="card-body d-flex flex-column align-items-start">
									<div class="tags">
										<span class="badge badge-primary">World</span><span class="badge badge-primary">Animation</span>
									</div>
									<h3 class="mb-0">
										<a class="text-dark" href="item.html">Featured post</a>
									</h3>
									<div class="mb-1 text-muted">12 Ноября 2018</div>
									<p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content.</p>
									<a href="item.html" class="btn btn-primary">Continue reading</a>
								</div>
							</div>
							<div class="card flex-md-row mb-4">
								<img class="card-img-left d-none d-lg-block" src="img/blog-img.svg" alt="Card image cap">
								<div class="card-body d-flex flex-column align-items-start">
									<div class="tags">
										<span class="badge badge-primary">World</span><span class="badge badge-primary">Animation</span>
									</div>
									<h3 class="mb-0">
										<a class="text-dark" href="item.html">Featured post</a>
									</h3>
									<div class="mb-1 text-muted">12 Ноября 2018</div>
									<p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content.</p>
									<a href="item.html" class="btn btn-primary">Continue reading</a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<div class="top row">
					<div class="col-12">
						<ul class="list-unstyled main-menu">
							<li><a href="#">Главная</a></li>
							<li><a href="#">Онлайн курсы</a></li>
							<li><span class="active">Блог</span></li>
							<li><a href="#">Отзывы</a></li>
							<li><a href="#">Контакты</a></li>
							<li><a href="#">О школе</a></li>
						</ul>
					</div>
				</div>
				<!--
				<div class="middle row">
					<div class="block-contacts col-4">
						<div class="title">Свяжитесь с нами:</div>
						<ul class="list-unstyled">
							<li><a href="mail:info@kaanima.com">info@kaanima.com</a></li>
							<li><a href="mail:job@kaanima.com">job@kaanima.com</a></li>
							<li><a href="mail:game@kaanima.com">game@kaanima.com</a></li>
						</ul>
					</div>
					<div class="block-soc col-3 offset-5">
						<div class="title">Социальные сети:</div>
					</div>
				</div>-->
				<div class="bottom row">
					<div class="col-4 block-owner-info">
						<span>&copy; 2018, ИП Серебряков Александр Сергеевич</span>
						<span>ИНН 1850210580185011</span>
					</div>
					<!--
					<div class="col-4 offset-4 text-right">
						<button type="button" class="btn btn-sm btn-primary">Подписаться на рассылку</button>
					</div>-->
				</div>
			</div>
		</div>
	</div>
</body>
</html>