/*
#FD610F - оранжевый
#272b30 - серый (подвал)
#ccc - сервый при наведении на ссылку меню
#e2c3a4 - бежевый
*/

html {position: relative; min-height: 100%;}
body {font-size: 14px; font-family: 'Roboto',Tahoma; background-color: #f0f0f0; margin-bottom: 180px;}
.btn-orange {background-color: #FD610F; border-color: #FD610F;}
a.btn-orange {color: #fff;}
.btn-orange:hover {background-color: #f15d0e; border-color: #f15d0e;}
.btn-orange:not(:disabled):not(.disabled).active, 
.btn-orange:not(:disabled):not(.disabled):active, 
.show>.btn-orange.dropdown-toggle {background-color: #f15d0e; border-color: #f15d0e;}

#scroll-up {z-index: 100; position: fixed; right: 20px; bottom: 30px; display: none;}


#background {position: fixed; z-index: 0; top: 0px; height: 100%; width: 100%;
	/*background: transparent url('../img/bg.jpg') center center repeat-y; background-size: cover; opacity: 0.5;*/}
#content {position: relative; z-index: 10; width: 100%; height: 100%;}

#header .panel-menu {background-color: #272b30; position: relative;}
#header .panel-menu .main-menu {text-align: center; float: right;}
#header .panel-menu .logo {height: 60px; width: 150px; margin: 5px 0px 5px 0px;}
#header .panel-menu .btn--auth {margin-top: 18px;}

#main-menu-burger {color: #ffffff; font-size: 30px; cursor: pointer; margin-bottom: 0px; float: right; margin-top: 15px;}
#main-menu-trigger {width: 1px; height: 1px; position: absolute; left: -9999px; opacity: 0;}

#footer {position: absolute; bottom: 0px; width: 100%; box-sizing: border-box; height: 180px; background-color: #272b30; color: #fff; padding-bottom: 25px;}
#footer .top .main-menu {text-align: center;}

.main-menu {margin-bottom: 0px; text-transform: uppercase; padding: 24px 0px 25px;}
.main-menu li {display: inline-block; padding: 0px 10px;}
.main-menu li > a {color: #fff; text-decoration: none; transition: color 0.4s;}
.main-menu li > a:hover {color: #ccc; text-decoration: none; transition: color 0.4s;}
.main-menu span.active {color: #FD610F;}

#page .page-content {padding: 25px 0px;}
#page .page-content .container {/*background-color: #fff; padding: 20px 30px;*/}

#page .page-head {margin-top: 25px; font-size: 25px;}
#page .page-head .page-title {color: #fff;}

.blog-tags {margin-bottom: 20px;}
.blog-tags .badge {margin-right: 5px; font-size: 13px; padding: 5px 8px;}

.blog-list {}
.blog-list .card-body .top-panel {margin-bottom: 10px;}
.blog-list .card-body .item-title {font-size: 20px; font-weight: bold;}
.blog-list .card-body .card-text {font-size: 14px;}
.blog-list .card-body .tag {font-weight: normal; display: inline-block; border: 1px solid #343a40; border-radius: 10px; padding: 2px 8px; font-size: 13px;}
#blog-list-more {background-color: transparent; border-color: #343a40;}

.blog-detail {}
.blog-detail .item-title {font-size: 20px; font-weight: bold;}
.blog-detail .card-body .top-panel {margin-bottom: 10px;}
.blog-detail .card-body .tag {font-weight: normal; display: inline-block; border: 1px solid #343a40; border-radius: 10px; padding: 2px 8px; font-size: 13px;}
.blog-detail .card-body {padding: 20px 35px;}
.blog-detail .card-body img {width: 100%; height: auto; margin: 15px 0px;}

.blog-detail .btn-outline-dark:hover {background-color: transparent; color: #000; text-decoration: underline;}

.blog-other a {color: #000;}
.blog-other .title {margin-bottom: 20px;}
.blog-other .card-title {font-size: 16px;}

.popular-posts a {color: #000;}
.popular-posts .title {margin-bottom: 20px;}
.popular-posts .card {border: 0 none;}
.popular-posts .card-list .card-title {font-size: 16px; margin-top: 10px;}
.popular-posts .card-list .card-body {padding: 1.25rem 0;}

.block-support {font-size: 16px;}


.tags-list {}
.tags-list a {font-weight: normal; display: inline-block; border: 1px solid #343a40; border-radius: 10px; padding: 2px 8px; 
	font-size: 13px; margin-right: 10px; margin-bottom: 5px;}

#footer .block-contacts ul {font-size: 16px;}
#footer .block-contacts ul a {color: #fff; text-decoration: none; transition: color 0.4s;}
#footer .block-contacts ul a:hover  {color: #ccc; text-decoration: none; transition: color 0.4s;}
#footer .block-owner-info {}
#footer .block-owner-info > span {display: block;}

@media (max-width: 991px) {
	#main-menu .container {position: relative;}
	#main-menu {display: none; position: absolute; top: 70px; right: 0px; background-color: #424955; width: 100%; margin-right: 0px !important; z-index: 20; padding: 0px;}
	#main-menu li {display: block; font-size: 18px; margin: 13px 20px;}
	#main-menu-trigger:checked + #main-menu {display: block !important;}
}

@media (max-width: 768px) {
	
}

@media (max-width: 767px) {
	body {margin-bottom: 250px;}
	#footer {height: 250px;}
	#footer .top .main-menu {padding-bottom: 10px;}
}

@media (max-width: 575px) {
	#header .panel-menu .logo {width: 130px; height: 52px;}
	#main-menu-burger {margin-top: 10px;}
	#main-menu {top: 62px;}
	.blog-list .card-body .item-title {font-size: 16px;}
	.blog-detail .item-title {font-size: 16px;}
}

@media (max-width: 400px) {
	body {margin-bottom: 300px;}
	#footer {height: 300px;}
}